In [80]:
import pandas as pd
import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [81]:
df=pd.read_csv("ks-projects-201801.csv")

In [82]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [83]:
df.shape

(378661, 15)

In [84]:
#募集日数
df["deadline"]=pd.to_datetime(df["deadline"])
df["launched"]=pd.to_datetime(df["launched"])
df["days"]=(df["deadline"]-df["launched"]).dt.days

In [85]:
#successfulとfailedのデータを抽出し、successful→1,failed→0
df=df.query("state == ['successful','failed' ]")
df["state"]=df["state"].replace("failed",0)
df["state"]=df["state"].replace("successful",1)

In [86]:
#不要な行を削除
df = df.drop(["ID","name","deadline","launched","backers","pledged","usd pledged","usd_pledged_real","usd_goal_real"], axis=1)
df.head()

         category main_category currency     goal  state country  days
0          Poetry    Publishing      GBP   1000.0      0      GB    58
1  Narrative Film  Film & Video      USD  30000.0      0      US    59
2  Narrative Film  Film & Video      USD  45000.0      0      US    44
3           Music         Music      USD   5000.0      0      US    29
5     Restaurants          Food      USD  50000.0      1      US    34

In [87]:
#カテゴリ変数処理
df=pd.get_dummies(df,drop_first=True)
df.head()

,goal,state,days,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,category_Anthologies,category_Apparel,...,country_JP,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,1000.0,0,58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30000.0,0,59,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,45000.0,0,44,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,5000.0,0,29,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,50000.0,1,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [88]:
#データ分割
train_data=df.drop("state",axis=1)
y=df["state"].values
x=train_data.values

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [89]:
#ランダムフォレスト
clf=RandomForestClassifier(random_state=1234)
clf.fit(x_train,y_train)
print("socre=",clf.score(x_test,y_test))

socre= 0.6488749082942222